body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}


/* TODO: size images manually so this is not necessary */

img {
  max-height: 20rem;
}


/***************** NAV *****************/
nav {
  width: 100%;
  margin-bottom: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

nav .row {
  text-align: center;
  font-size: 1.5em;

  /* light blue */
  background-color: rgb(76, 126, 201);

  padding-top: .5em;
  padding-bottom: .5em;
}

nav .menuItem a {
  color: white;
}

nav .cart-info {
  color: white;
  flex: 1;
}

.badge {
  margin-left: .5rem;
}


nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  padding: 1rem;
  list-style: none;
}

nav ul a {
  color: white;
  /* remove underline */
  text-decoration: none;
}

/**************** HERO *****************/

header img {
  max-height: 14rem;
  padding-left: 1rem;
  padding-right: 1rem;
  float: left;
}

header h1 {
  padding-top: 2rem;
  font-family: 'Anton', sans-serif;
}

h1 .logo-w {
  font-size: 5.6rem;
}

.logo-text {
  color: rgb(76, 126, 201);
  /* light blue */
}

.line-break {
  display: table;
}


/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  color: white;
}

.block {
  display: block;
}

.input-aside {
  width: 100%;
  margin-bottom: .5rem;
}

/**************** MEDIA QUERIES ****************/
/* if width > px  using px because it's the bootstrap col-md break point
margin needed in wide screen so mailing list aligns with products.
On smaller screen, mailing list is at top of ui and does not need the
extra spacing. */
@media only screen and (min-width: 768px) {
  .mailing-list {
    margin-top: 7rem;
  }
}

/* if width < px using px because it's the bootstrap col-md break point
handle small screen reflow, add borders, move cart to top  */
/*
@media only screen and (max-width: 768px) {

  nav .menuItem {

    border-bottom: 1px solid rgb(215,	227,	242);
  }

  nav .row {
    padding-top: 0;
    padding-bottom: 0;
  }

}*/

.menuItem {
  flex: 4;
}

/* narrow width */

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
  nav li {
    padding: 1rem;
    width: 100%;
    list-style: none;
    display: block;
    text-align: center;
    border-bottom: 1px solid rgb(215,	227,	242);
    border-collapse: collapse;
  }

  nav .row {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* rearrange menu item */

  ul li:first-child {
    order: 4;
  }
  ul li:nth-child(1) {
    order: 1;
  }
  ul li:nth-child(2) {
    order: 2;
  }
  ul li:nth-child(3) {
    order: 3;
  }
}

/*********** PRODUCTS SECTION ***********/
.item-container {
  display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: flex-end;
    align-content: flex-end;
}


main {
  margin-left: 2rem;
  margin-right: 2rem;
}

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.product {
  width: 25rem;
  vertical-align: top;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.highlight {
  box-shadow: 5px 5px 2px grey;
}

.addToCart {
  float: right;
  margin-right: 2rem;
}

.price {
  float: left;
}


/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}
