body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}


/* TODO: size images manually so this is not necessary */

img {
  max-height: 20rem;
}


/***************** NAV *****************/
nav {
  margin-bottom: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

nav .row {
  text-align: center;
  font-size: 1.5em;

  /* light blue */
  background-color: rgb(76, 126, 201);

  padding-top: .5em;
  padding-bottom: .5em;
}

nav .menuItem a {
  color: white;
}

.cart-info {
  color: white;
}

.badge {
  margin-left: .5rem;
}

/**************** HERO *****************/

header img {
  max-height: 14rem;
  padding-left: 1rem;
  padding-right: 1rem;
  float: left;
}

header h1 {
  padding-top: 2rem;
  font-family: 'Anton', sans-serif;
}

h1 .logo-w {
  font-size: 5.6rem;
}

.logo-text {
  color: rgb(76, 126, 201);
  /* light blue */
}

.line-break {
  display: table;
}


/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  /* todo:  determine how to override bootstrap colors */
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  /* font-size: .75rem; */
  color: white;
}

.block {
  display: block;
}

.input-aside {
  width: 100%;
  margin-bottom: .5rem;
}

/**************** MEDIA QUERIES ****************/
/* if width > 60rem,
margin needed in wide screen so mailing list aligns with products.
On smaller screen, mailing list is at top of ui and does not need the
extra spacing. */
@media only screen and (min-width: 61.825rem) {
  .mailing-list {
    margin-top: 7rem;
  }
}

/* if width < 60rem
handle small screen reflow, add borders, move cart to top  */
@media only screen and (max-width: 61.9375rem) {
  /* add borders to separate menu items */
  nav .menuItem {
    /* lighter blue */
    border-bottom: 1px solid rgb(215,	227,	242);
  }

  /* remove extra border */
  nav .row {
    padding-top: 0;
    padding-bottom: 0;
  }

  /* todo:  move cart to top */
}

/*********** PRODUCTS SECTION ***********/

main {
  margin-left: 2rem;
  margin-right: 2rem;
}

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.product {
  width: 25rem;
  border: 1px solid black;
  padding: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
}

.product-description {
  /* display: none; */
}

.fa-cart-plus {
  float: right;
}

.price {
  float: left;
  margin-bottom: 0;
}


/* styles for '...' */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}
